figure {
    width: 600px;
    background-repeat: no-repeat;
  }
    
  figure:hover #zoom {
    opacity: 0;
  }
  
  #zoom {
    display: block;
    width: 100%;
    pointer-events: none;
  }
  
  #root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
  }
  .iiz__img {
    max-width: 100%;
}
