#background{
    background-color: #328002;
}
h1{
    color: white;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px){
    h1{
        font-size: 70px ;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px){
    h1{
        font-size: 100px ;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px){
    h1{
        font-size: 120px ;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1200px){
    h1{
        font-size: 150px ;
    }
  }