.hotspot-wrapper {
    position: relative;
    overflow: visible;
    margin-bottom:20px;
  }
    
  .hotspot-wrapper:hover{
    bottom: 0;
  }
  
  .hotspot-wrapper img {
  
    -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  }
  
  .hotspot-wrapper:hover img {
    -webkit-transform:scale(1.3);
  transform:scale(1.3);
  }
  .carousel-control {
  height: 100%;
  margin-top: 0px;
  border-radius: 0;
  border: 0;
  }